#Port number
PORT=8080

#URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/pinpoint

#JWT
JWT_SECRET=thisisasamplesecret
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30
OTP_EXPIRATION_TIME_MINUTE=5

# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME='ward.daniel@ethereal.email '
SMTP_PASSWORD=HqCvzF7Dgwsb9W2hvr
EMAIL_FROM=support@yourapp.com

# Media server
CLOUDINARY_CLOUD_NAME=cloud-name
CLOUDINARY_API_KEY=api-key
CLOUDINARY_API_SECRET=api-secret

SWAGGER_URL=http://localhost:$PORT
